/* Mobile Responsive */
@media (max-width: 414px) {
    .footer-desc li {
        width: 50%;
    }
}
@media (max-width: 1024px) {
    /* Common CSS */
    .hd-pc-show {
        display: none !important;
    }
    .hd-m-show {
        display: block !important;
    }
    .sitemap-inner,
    .contact-inner {
        width: 100%;
        flex-direction: column;
    }

    /* FOOTER SITEMAP */
    .sitemap-inner {
        padding: 20px;
        display: none;
    }
    .sitemap-inner.show {
        display: block;
    }
    .sitemap-item {
        display: flex;
        margin-bottom: 20px;
    }
    .sitemap-item:last-child {
        margin: 0;
    }
    .sitemap-item h6 {
        font-size: 14px;
        flex: 1;
        margin-right: 10px;
    }
    .sitemap-item ul {
        flex: 2;
    }
    .sitemap-item a {
        vertical-align: top;
    }
    .sitemap-item .hd-bold {
        font-size: 14px;
    }

    /*  FOOTER CONTACT  */
    .contact-inner {
        width: 100%;
    }
    .footer-logo {
        width: 100%;
    }
    .contact-inner {
        padding: 0;
    }
    .footer-logo .footer-sns {
        margin: auto;
    }
    .footer-logo .footer-sns a {
        padding: 12px 12px;
    }

    .footer-info {
        padding: 15px 0;
        border-top: 1px solid #212121;
        border-bottom: 1px solid #212121;
    }
    .footer-info h4 {
        padding: 0 15px;
        font-size: 14px;
        height: 30px;
        line-height: 30px;
    }
    .footer-info ul {
        padding: 0 15px;
    }
    .footer-info .fi_icon {
        top: 7px;
        width: 16px;
        height: 16px;
        margin-top: 0;
    }
    .footer-info p {
        margin-left: 30px;
        line-height: 30px;
        font-size: 12px;
    }
    .footer-desc {
        padding: 0 15px;
    }
    .footer-desc .footer-menu li {
        padding: 0;
        text-align: center;
        width: 50%;
    }
    .footer-desc .fm_tip {
        margin-top: 10px;
        font-size: 10px;
        line-height: 20px;
    }
    .footer-copyright {
        font-size: 11px;
    }

    /*  ### SITEMAP BTN ###  */
    .sitemap-btn.hd-m-show {
        font-size: 14px;
        padding: 10px;
        text-align: center;
        border-top: 1px solid #4f4f4f;
        border-bottom: 1px solid #4f4f4f;
    }
    .sitemap-btn.hd-m-show:after {
        content: 'ì—´ê¸°';
    }
    .sitemap-btn.hd-m-show.closed:after {
        content: 'ë‹«ê¸°';
    }
}
@media (min-width: 768px) and (max-width: 1024px) {
    .sitemap-inner,
    .contact-inner {
        width: 100%;
    }
    .footer-info {
        padding-right: 15px;
        margin-right: 15px;
    }
    .footer-info p {
        line-height: 20px;
    }
    .footer-desc .footer-menu li {
        width: 50%;
    }
}
@media (max-width: 1320px) {
    .hd-wrap {
        max-width: 1000px;
    }
}