@media (min-width: 768px) and (max-width: 1024px) {}
@media (min-width: 1025px) and (max-width: 1350px) {
    .lnb-inner,
    .gnb-inner {
        width: 100%;
    }
    .lnb {
        right: 50px;
    }
    .gnb-logo {
        left: 50px;
    }
    .gnb-search {
        right: 50px;
    }
    .gnb {
        width: calc(120px * 6);
    }
    .gnb-menu li {
        width: 120px;
    }
    .gnb-sub a {
        padding: 20px 5px;
    }


	.record-bg {
		min-height:500px;
	}

	.record-inner {
		min-height:700px;
	}
}
@media (min-width: 1351px) and (max-width: 1800px) {
    .lnb-inner,
    .gnb-inner {
        width: 100%;
    }
    .lnb {
        right: 50px;
    }
    .gnb-logo {
        left: 50px;
    }
    .gnb-search {
        right: 50px;
    }
}
