@media (min-width: 768px) and (max-width: 1024px) {
    /* Section : Intro */
    section.intro {
        background-position-x: 50%;
    }
    .intro-inner {
        background-position-x: 50%;
    }
}

@media (min-width: 1025px) and (max-width: 1350px)  {
    /* Section : Intro */
    section.intro {
        background-position-x: 50%;
    }
    .intro-inner {
        background-position-x: 50%;
    }

}
@media (max-width: 1159px) {
    .nation-items > div:first-child .nation-item:nth-child(2) .nation-item-inner > div > span {
        font-size: 14px;
        margin-right: 0px;
    }
}

@media (min-width: 1351px) and (max-width: 1800px) {
    /* Section : Intro */
    section.intro {
        background-position: center;
    }
    .intro-inner {
        background-position: center;
    }
}

@media (min-width: 1160px) and (max-width: 1499px) {
    .nation-items > div:first-child .nation-item:nth-child(2) .nation-item-inner > div > span {
        font-size: 16px;
        margin-right: 0px;
    }
}

@media (max-width: 1650px) {
    section.intro {
        height: 110vh;
    }
    .intro-title {
        width: 65%;
    }
    .nation-item h1 {
        font-size: 28px;
    }
    .nation-item h1 b {
        font-size: 27px;
    }

}

@media (min-width: 1500px) and (max-width: 1670px) {
    .nation-items > div:first-child .nation-item:nth-child(2) .nation-item-inner > div > span {
        font-size: 19px;
    }
}

@media (max-width: 1390px) {
    .nation-item-inner, .nation-item {
        padding: 40px;
    }
    .nation-item h1 {
        font-size: 23px;
    }
    .nation-item h1 b {
        font-size: 22px;
    }
}
@media (max-width: 1250px) {
    .nation-item-inner, .nation-item {
        padding: 30px;
    }
    .nation-item h1 {
        font-size: 20px;
    }
    .nation-item h1 b {
        font-size: 19px;
    }
    .nation-title > div > a {
        font-size: 18px;
    }
}


