
@font-face {
    font-family: omni_040;
    src: url('{{ my_url_for(request, "static", path="/fonts/omnigothic_040.woff") }}') format('woff');
    src: url('{{ my_url_for(request, "static", path="/fonts/omnigothic_040.ttf") }}') format('truetype');
}

@font-face {
    font-family: omni_020;
    src: url('{{ my_url_for(request, "static", path="/fonts/omnigothic_020.woff") }}') format('woff');
    src: url('{{ my_url_for(request, "static", path="/fonts/omnigothic_020.ttf") }}') format('truetype');
}

@font-face {
    font-family: apple_gothic;
    src: url('{{ my_url_for(request, "static", path="/fonts/applegothicneo.woff.woff") }}') format('woff');
    src: url('{{ my_url_for(request, "static", path="/fonts/applegothicneo.ttf") }}') format('truetype');
}

body {
    margin: 0;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
    overflow-x: hidden;
}
body::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
}
.wv-hide {
    display: none;
}
.no-scroll {
    overflow: hidden;
}

* {
    font-family: 'Noto Sans KR', sans-serif;
    box-sizing: border-box;
}

/* Reset CSS */
body {
    margin: 0;
    color: #333;
}
a {
    text-decoration: none;
    color: #333;
}
ol, ul, li
{
    margin: 0;
    padding: 0;
    list-style: none;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}
p {
    margin: 0;
    padding: 0;
}
button {
    outline: none;
}

body
{
    margin:0px;
    padding:0px;
    width:100%;
    display: block;
    background-color: white;
}

