<html>

<head>
    <title>Green Oceans</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, viewport-fit=cover">

    
    <script src="{{ my_url_for(request, 'static', path='/js/jquery-3.6.0.min.js')}}"></script>
    <script src="{{ my_url_for(request, 'static', path='/js/jquery.easing.min.js')}}"></script>
    
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-112403815-1"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>

    <link rel="stylesheet" href="{{ my_url_for(request, 'static', path='/css/style.css')}}">

</head>
<style>
    @font-face {
        font-family: omni_040;
        src: url('{{ my_url_for(request, "static", path="/fonts/omnigothic_040.ttf") }}') format('truetype');
    }
    
    @font-face {
        font-family: omni_020;
        src: url('{{ my_url_for(request, "static", path="/fonts/omnigothic_020.ttf") }}') format('truetype');
    }
    
    @font-face {
        font-family: apple_gothic_r;
        src: url('{{ my_url_for(request, "static", path="/fonts/applegothicneo_r.ttf") }}') format('truetype');
    }
    
    @font-face {
        font-family: apple_gothic_eb;
        src: url('{{ my_url_for(request, "static", path="/fonts/applegothicneo_eb.ttf") }}') format('truetype');
    }
    
    @font-face {
        font-family: apple_gothic_sb;
        src: url('{{ my_url_for(request, "static", path="/fonts/applegothicneo_sb.ttf") }}') format('truetype');
    }
    
    @font-face {
        font-family: apple_gothic_b;
        src: url('{{ my_url_for(request, "static", path="/fonts/applegothicneo_b.ttf") }}') format('truetype');
    }
</style>

<script type="text/javascript">
    // width resize for mobile 
    $( window ).resize( function() {
        $('body').css({
            "min-width": window.innerWidth,
        });
    });

    $( window ).ready( function() {
        $('body').css({
            "min-width": window.innerWidth,
        });

        $('#logo_img').click(function() {
            location.href = "/map"
        });
    });

</script>
</head>
<body>
    <div class="topnav">
        <img id="logo_img" alt="Logo" src="{{ my_url_for(request, 'static', path='/images/green_logo.png') }}"/>
        <div id="menu_text_wrapper">
            <a class="top_menu" href="/map">MAP</a>
            <a class="top_menu" href="/project">PROJECT</a>
            <a class="top_menu" href="/about">ABOUT</a>
            <a class="top_menu" href="/contact">CONTACT</a>
            <a class="top_menu" href="http://greenoceans.kr" style="margin-right: 121px;">GREENOCEANS</a>
        </div>
    </div>
    
    <div class="body_wrapper" style="display:block; margin: 0 auto; margin-bottom:144px;">
        
        <div class="dummy_top">
            <span class="title">The Founder Story</span>
            <div class="main_line"></div>

            <span class="main_content">
                그린오션스는 통영에서 발생하는 연간 20만 톤의 굴 껍데기를 친환경 자원화하는 프로젝트를 진행 중에 있습니다. <br>
                굴 껍데기의 주요성분은 95% 이상이 탄산칼슘으로 우리 생활주변에 빠지지 않는 첨가 소재로 다양하게 쓰이고 있습니다. 우리는 이런 굴 껍데기의 처리 장치, 소재의 개발 및 자원화와 지속 가능한 수익창출의 실현을 위해 여러 대학, 연구기관, 전문가들과 함께 검증하고 있습니다.<br>
                그린오션스는 버려지는 천연자원과 훼손되는 해양 환경을 보살피기 위해 공학, 화학, AI 등의 클린테크를 접목한 친환경 기술력과 해양의 무한한 생명력을 융복합하여 로컬의 지속가능성을 고민하고 찾아내어 실현시키는 기업으로 자리매김하고자 합니다.
                <br><br>
                그린 오션스의 이런 한 걸음이 나아가, 지구환경을 지키는 첫걸음이라고 우리는 믿고 있습니다.
                <span id="about_main_bottom_text">그린오션스 대표 문피아</span>
            </span>

        </div>
        
        <div class="about_dummy"></div>

        <div class="about_youtube_section">
            <div class="about_youtube_wrapper_row">
                <iframe src="https://www.youtube.com/embed/UExY6skO9pA"
                    class="about_youtube_iframe"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope;"
                    allowfullscreen></iframe>
    
                <div class="about_youtube_right_div">
                    <span class="youtube_title" style="margin-top: 46px;">What work do we do</span>
                    <div class="about_youtube_line"></div>
                    <span class="youtube_subtitle">[소풍벤처스] 굴패각 전처리 과정 효율화 시스템으로 해양자원을 만들다 (2022.10)</span>
                </div>
            </div>
            <div class="about_youtube_wrapper_row">
                <iframe src="https://www.youtube.com/embed/bUbMdRrZvUc"
                    class="about_youtube_iframe"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope;"
                    allowfullscreen></iframe>
    
                <div class="about_youtube_right_div">
                    <span class="youtube_title" style="margin-top: 53px;">Who we are</span>
                    <div class="about_youtube_line"></div>
                    <span class="youtube_subtitle">[소풍벤처스] IMPACT EARTH INVESTORS DAY (2022.11)</span>
                </div>
            </div>
    
        </div>
        <div class="about_dummy"></div>
        <div class="about_press_section">
            <span class="title">Press</span>
        
            <span class="press_span" style="margin-top:110px">[매일경제] 굴 껍데기 재활용 스타트업 ‘그린오션스’, 2022 서울디자인페스티벌 참가 (22.12.22)</span>
            <a class="press_button" href="https://mbnmoney.mbn.co.kr/news/view?news_no=MM1004813749" target="_blank">Read More</a>
        
            <span class="press_span" style="margin-top: 92px;">[Chosun Media] 해양오염 주범 굴 껍데기, 친환경 자원으로 재탄생 (22.10.28)</span>
            <a class="press_button" href="https://futurechosun.com/archives/69459" target="_blank">Read More</a>
        
            <span class="press_span" style="margin-top: 92px;">[중소기업신문] '강한 소상공인'에 뽑힌 34개팀 어디? (22.07.01)</span>
            <a class="press_button" href="https://www.smedaily.co.kr/news/articleView.html?idxno=233963" target="_blank">Read More</a>
        
            <span class="press_span" style="margin-top: 92px;">[Venture Square] 농식품 산업 키워드는 ‘운명공동체’… “밸류체인 전반에서 혁신 일어나야” (22.10.28)</span>
            <a class="press_button" href="https://futurechosun.com/archives/69430" target="_blank">Read More</a>
        
        </div>
        <div class="about_dummy"></div>
        <img id="about_bottom_img" src="{{ my_url_for(request, 'static', path='/images/about_bottom.png')}}"/>    
    </div>

    <footer>
        <div class="footer_text_wrapper">
            <span class="bottom_span_eb">주식회사 그린오션스</span>
            <span class="bottom_span_r" style="margin-top: 27px;"><b>대표</b>문피아<b style="margin-left:94px;margin-right: 70px;">사업자번호</b>823-86-02292</span>
            <span class="bottom_span_r" style="margin-top: 10px;"><b>메일</b>piamoon@greenoceanskr.com</span>
            <span class="bottom_span_r" style="margin-top: 10px;"><b>팩스</b>0504-140-4267</span>
            <span class="bottom_span_r" style="margin-top: 10px;"><b>주소</b>서울특별시 종로구 종로 6 광화문 우체국 5층</span>
            <span class="bottom_span_r" style="margin-top: 10px;"><b style="visibility: hidden;">주소</b>경남 통영시 도남로 195 리스타트플랫폼 4층 5호</span>
        </div>
    </footer>
</html>