<html lang="ko">
    <head>

    <title>Green Oceans</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, viewport-fit=cover">

    <script src="{{ my_url_for(request, 'static', path='/js/jquery-3.6.0.min.js')}}"></script>
    <script src="{{ my_url_for(request, 'static', path='/js/jquery.easing.min.js')}}"></script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-112403815-1"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>

    <link rel="stylesheet" href="{{ my_url_for(request, 'static', path='/css/style.css')}}">
    
    <script type="module">

        $( window ).resize( function() {
            $('body').css({
                "min-width": window.innerWidth,
            });
        });

        $(document).ready(function(){
            $('body').css({
                "min-width": window.innerWidth,
            });
            
            $('#send_email').click(function() {
                $('#send_email').attr('href', "mailto:" + $('#input_email').val() + "?body=" + "name : " + $('#input_name').val() + ", message : " + $('#input_content').val());
            });

            $('#logo_img').click(function() {
                location.href = "/map"
            });
        });

        function initMap() {
            const tong = { lat: 37.5698001 , lng: 126.9780682 };
        
            var map = new google.maps.Map(document.getElementById("contact_map"), {
                zoom: 15,
                center: tong,
                mapTypeControl: true,
            });

            const infoWindow = new google.maps.InfoWindow({
                content: "",
                disableAutoPan: true,
            });

            const marker = new google.maps.Marker({
                position: tong,
                map
            });

            const contentString =
                '<div id="content">' +
                    '<h3 style="font-family:apple_gothic_b;font-style: normal;">GREEN OCEANS</h3>' +
                "</div>";

            const infowindow = new google.maps.InfoWindow({
                content: contentString,
                ariaLabel: "",
            });

            infowindow.open(map, marker);
        }

        window.initMap = initMap;

    </script>
</head>
<style>
    @font-face {
        font-family: omni_040;
        src: url('{{ my_url_for(request, "static", path="/fonts/omnigothic_040.ttf") }}') format('truetype');
    }
    
    @font-face {
        font-family: omni_020;
        src: url('{{ my_url_for(request, "static", path="/fonts/omnigothic_020.ttf") }}') format('truetype');
    }
    
    @font-face {
        font-family: apple_gothic_r;
        src: url('{{ my_url_for(request, "static", path="/fonts/applegothicneo_r.ttf") }}') format('truetype');
    }
    
    @font-face {
        font-family: apple_gothic_eb;
        src: url('{{ my_url_for(request, "static", path="/fonts/applegothicneo_eb.ttf") }}') format('truetype');
    }
    
    @font-face {
        font-family: apple_gothic_sb;
        src: url('{{ my_url_for(request, "static", path="/fonts/applegothicneo_sb.ttf") }}') format('truetype');
    }
    
    @font-face {
        font-family: apple_gothic_b;
        src: url('{{ my_url_for(request, "static", path="/fonts/applegothicneo_b.ttf") }}') format('truetype');
    }
</style>
</head>

<body>
    <div class="topnav">
        <img id="logo_img" alt="Logo" src="{{ my_url_for(request, 'static', path='/images/green_logo.png') }}"/>
        <div id="menu_text_wrapper">
            <a class="top_menu" href="/map">MAP</a>
            <a class="top_menu" href="/project">PROJECT</a>
            <a class="top_menu" href="/about">ABOUT</a>
            <a class="top_menu" href="/contact">CONTACT</a>
            <a class="top_menu" href="http://greenoceans.kr" style="margin-right: 121px;">GREENOCEANS</a>
        </div>
    </div>
    <span class="title contact_title">CONTACT</span>
    <div id="contact_wrapper">
        <div id="contact_wrapper_title">Green Oceans</div>
        <div id="contact_wrapper_line"></div>
        <div id="contact_wrapper_message">
            <div id="contact_wrapper_message_left">
                <span><img src="{{ my_url_for(request, 'static', path='/images/icon_map.png') }}"/>서울특별시 종로구 종로 6 광화문 우체국 5층 그린오션스</span>
                <span><img src="{{ my_url_for(request, 'static', path='/images/icon_phone.png') }}"/>0504-140-4267</span>
                <span><img src="{{ my_url_for(request, 'static', path='/images/icon_building.png') }}"/>경남 통영시 도남로 195 리스타트플랫폼 4층 5호</span>
                <span><img src="{{ my_url_for(request, 'static', path='/images/icon_mail.png') }}"/>piamoon@greenoceanskr.com</span>
                <div>
                    <img src="{{ my_url_for(request, 'static', path='/images/icon_thumb_up.png') }}"/>
                    <a><img class="sns_img" src="{{ my_url_for(request, 'static', path='/images/icon_facebook.png') }}"/></a>
                    <a><img class="sns_img" src="{{ my_url_for(request, 'static', path='/images/icon_twitter.png') }}"/></a>
                    <a><img class="sns_img" src="{{ my_url_for(request, 'static', path='/images/icon_linkedin.png') }}"/></a>
                    <a href="https://www.instagram.com/greenoceans.kr/?igshid=YmMyMTA2M2Y%3D" target="_blank"><img class="sns_img" src="{{ my_url_for(request, 'static', path='/images/icon_instagram.png') }}"/></a>
                </div>
    
            </div>
            <div id="contact_wrapper_message_right">
                <span class="light_span">Name</span>
                <input id="input_name" type="text" name="name" aria-required="false" maxlength="100">
                <span class="light_span">Email *</span>
                <input id="input_email" type="email" name="email" aria-required="true" pattern="^.+@.+\.[a-zA-Z]{2,63}$" maxlength="250" aria-invalid="false">
                <span class="light_span">Message</span>
                <textarea id="input_content" aria-required="false" aria-invalid="true" ></textarea>
                <a id="send_email">Send</a>
            </div>
        </div>

    </div>
    <div id="contact_map"></div>
    
    <script
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDCj_fxHTdVdYjCl6udpP_GbWUGfW9SVV8&callback=initMap&v=weekly"
        defer></script>

    <footer>
        <div class="footer_text_wrapper">
            <span class="bottom_span_eb">주식회사 그린오션스</span>
            <span class="bottom_span_r" style="margin-top: 27px;"><b>대표</b>문피아<b style="margin-left:94px;margin-right: 70px;">사업자번호</b>823-86-02292</span>
            <span class="bottom_span_r" style="margin-top: 10px;"><b>메일</b>piamoon@greenoceanskr.com</span>
            <span class="bottom_span_r" style="margin-top: 10px;"><b>팩스</b>0504-140-4267</span>
            <span class="bottom_span_r" style="margin-top: 10px;"><b>주소</b>서울특별시 종로구 종로 6 광화문 우체국 5층</span>
            <span class="bottom_span_r" style="margin-top: 10px;"><b style="visibility: hidden;">주소</b>경남 통영시 도남로 195 리스타트플랫폼 4층 5호</span>
        </div>
    </footer>
</body>

</html>