<html>

<head>
    <title>Green Oceans</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, viewport-fit=cover">
    
    <script src="{{ my_url_for(request, 'static', path='/js/jquery-3.6.0.min.js')}}"></script>
    <script src="{{ my_url_for(request, 'static', path='/js/jquery.easing.min.js')}}"></script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-112403815-1"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <script src="{{ my_url_for(request, 'static', path='/js/flickity.pkgd.min.js')}}"></script>

    <link rel="stylesheet" href="{{ my_url_for(request, 'static', path='/css/style.css')}}">
    <link rel="stylesheet" href="{{ my_url_for(request, 'static', path='/css/flickity.css')}}" media="screen">


    <script type="text/javascript">

        // width resize for mobile 
        $( window ).resize( function() {
            $('body').css({
                "min-width": window.innerWidth,
            });
        });
        
        $( window ).ready( function() {
            $('body').css({
                "min-width": window.innerWidth,
            });

            // swipe library
            var flky = new Flickity( '.main-carousel', {
                cellAlign: 'left',
                contain: true,
                pageDots: false,
                draggable: false
            });
            
            $('#logo_img').click(function() {
                location.href = "/map"
            });
        });

    </script>
</head>
<style>
    @font-face {
        font-family: omni_040;
        src: url('{{ my_url_for(request, "static", path="/fonts/omnigothic_040.ttf") }}') format('truetype');
    }
    
    @font-face {
        font-family: omni_020;
        src: url('{{ my_url_for(request, "static", path="/fonts/omnigothic_020.ttf") }}') format('truetype');
    }
    
    @font-face {
        font-family: apple_gothic_r;
        src: url('{{ my_url_for(request, "static", path="/fonts/applegothicneo_r.ttf") }}') format('truetype');
    }
    
    @font-face {
        font-family: apple_gothic_eb;
        src: url('{{ my_url_for(request, "static", path="/fonts/applegothicneo_eb.ttf") }}') format('truetype');
    }
    
    @font-face {
        font-family: apple_gothic_sb;
        src: url('{{ my_url_for(request, "static", path="/fonts/applegothicneo_sb.ttf") }}') format('truetype');
    }
    
    @font-face {
        font-family: apple_gothic_b;
        src: url('{{ my_url_for(request, "static", path="/fonts/applegothicneo_b.ttf") }}') format('truetype');
    }

</style>
</head>

<body>

    <div class="topnav">
        <img id="logo_img" alt="Logo" src="{{ my_url_for(request, 'static', path='/images/green_logo.png') }}"/>
        <div id="menu_text_wrapper">
            <a class="top_menu" href="/map">MAP</a>
            <a class="top_menu" href="/project">PROJECT</a>
            <a class="top_menu" href="/about">ABOUT</a>
            <a class="top_menu" href="/contact">CONTACT</a>
            <a class="top_menu" href="http://greenoceans.kr" style="margin-right: 121px;">GREENOCEANS</a>
        </div>
    </div>
    
    <div class="dummy_top">
        <span class="title">The Green ton Project</span>
        <div class="main_line"></div>
        <span class="main_content">
            (주)그린오션스에서는 2022년 굴 껍데기 야적량 계산 AI 알고리즘 개발 프로젝트 ‘The Green ton Project’를 구축하였습니다.<br>
            한국은 수하식 굴 양식업의 활발한 발달과 성장을 기반으로 세계 2위 규모의 굴생산량을 자랑하고 있습니다. 
            그러나 그 명성의 걸맞지 않게 선순환적인 굴껍데기 처리방법이 마련되어 있지 않습니다. 
            그에 따른 문제 해결의 첫번째 단추로 굴껍데기 발생량과 야적량의 체계적인 DATA SET의 정량화를 통해 지속적으로 관리하기 위한 알고리즘 ‘The Green ton’을 개발하였습니다.
        </span>
    </div>
    <div class="dummy"></div>
 
    <div style="padding-left:108px; padding-right:108px;">
        <div class="main-carousel">
            <div class="carousel-cell">
                <img src="{{ my_url_for(request, 'static', path='/images/slide1.png')}}" />
            </div>
            <div class="carousel-cell">
                <img src="{{ my_url_for(request, 'static', path='/images/slide2.png')}}" />
            </div>
            <div class="carousel-cell">
                <img src="{{ my_url_for(request, 'static', path='/images/slide3.png')}}" />
            </div>
            <div class="carousel-cell">
                <img src="{{ my_url_for(request, 'static', path='/images/slide4.png')}}" />
            </div>
            <div class="carousel-cell">
                <img src="{{ my_url_for(request, 'static', path='/images/slide5.png')}}" />
            </div>
            <div class="carousel-cell">
                <img src="{{ my_url_for(request, 'static', path='/images/slide6.png')}}" />
            </div>
        </div>
    </div>
    <div class="dummy"></div>

    <div id="problem_section">
        <div class="problem_section_column">
            <img class="problem_section_img" src="{{ my_url_for(request, 'static', path='/images/project_1.png')}}"/>
            <div class="problem_section_text_wrapper">
                <span id="problem_section_title">Problem</span>
                <div class="problem_section_line"></div>
                <span class="problem_content" style="margin-top:40px">
                    굴 생산량 35만 톤, 세계 2위, 한국...<br>
                    그 중에서도 ‘통영 굴’은 으뜸으로 치며, 실제로 경남 통영지역에서 전체 생산량 중 80% 이상을 양식하고 있다. 총 35만 톤 생산 시, 알굴 5만 톤에 30만 톤의 굴 껍데기는 동해 '정'에 해양 폐기되고 있다.
                </span>
                <span class="problem_source" style="margin-top:55px;">경남지역 굴껍데기 발생량 (2017년 기준)</span>
                <span class="problem_source" style="margin-top:8px;">자료: 해양수산부, 수산정보포털 (www.fips.go.kr)</span>
            </div>
        </div>

        <div class="problem_section_column">
            <img class="problem_section_img" src="{{ my_url_for(request, 'static', path='/images/project_2.png')}}"/>
            <div class="problem_section_text_wrapper">
                <span class="problem_content" style="margin-top:160px">
                    2017년 기준, 굴 패각 총 28만 톤 중 약 10만 톤은 비료와 사료의 용도로, 약 8만 5천 톤은 채묘용 등의 용도로 각각 재활용되고, 약 7만 5천 톤은 보관, 나머지 약 2만 3,700톤(전체 약 8.4%)은 미처리·방치되고 있는 것으로 나타났다.
                </span>
                <span class="problem_source" style="margin-top:62px;">굴 생산량 및 굴 껍데기 발생량 (2015~2019년 기준)</span>
                <span class="problem_source" style="margin-top:8px;">자료: 국회입법조사처,<br> 수산부산물 발생 및 처리 관련 문제점과 개선 방향 (2020.02.20)</span>
            </div>
        </div>
    </div>
    <div class="dummy"></div>

    <div class="youtube_wrapper">
        <iframe id="temp_iframe" src="https://www.youtube.com/embed/0xoEo8il79o" 
            title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope;allowfullscreen"></iframe>
        
        <iframe src="https://www.youtube.com/embed/mE4-fGHAtMg"
            title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; allowfullscreen"></iframe>
    </div>
    <div class="youtube_wrapper" style="margin-top: 27px;">
        <span>[밀착카메라] '굴 판매 1천억' 통영…'껍데기산' 골치 / JTBC 뉴스룸</span>
        <span>[Arirang News] In-season oysters selling fast in South Korea</span>
    </div>
    <div class="dummy"></div>

    <div id="process_section">
        <span id="process_title">Process</span>
        <span id="process_content">
            통영에 위치한 박신장 120여 개의 리스트를 제공받았으며, 박신 작업이 없는 8월에 촬영을 마감하여 데이터의 신뢰도를 높였다. <br>
            드론 촬영을 통해 이미지 DATA를 수집하였으며, 수집된 이미지 DATA의 변환작업을 통해 'The Green ton Project' 적용하여 산적량의 무게 및 부피를 산출했다.
        </span>

        <img id="process_img" src="{{ my_url_for(request, 'static', path='/images/project_main.png')}}"/>
    </div>

    <div class="dummy"></div>

    <footer>
        <div class="footer_text_wrapper">
            <span class="bottom_span_eb">주식회사 그린오션스</span>
            <span class="bottom_span_r" style="margin-top: 27px;"><b>대표</b>문피아<b style="margin-left:94px;margin-right: 70px;">사업자번호</b>823-86-02292</span>
            <span class="bottom_span_r" style="margin-top: 10px;"><b>메일</b>piamoon@greenoceanskr.com</span>
            <span class="bottom_span_r" style="margin-top: 10px;"><b>팩스</b>0504-140-4267</span>
            <span class="bottom_span_r" style="margin-top: 10px;"><b>주소</b>서울특별시 종로구 종로 6 광화문 우체국 5층</span>
            <span class="bottom_span_r" style="margin-top: 10px;"><b style="visibility: hidden;">주소</b>경남 통영시 도남로 195 리스타트플랫폼 4층 5호</span>
        </div>
    </footer>
</body>
</html>